<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рандом бетпони поисковик</title>
    <style>
      .container {
        max-width: 600px;
        max-height: 400px;
        overflow: hidden;
      }
      .batpony-image {
        width: 30%;
        height: 30%;
      }
    </style>
</head>
<body>
    <h1>Рандом бетпони поисковик</h1>
    <content class="container">
        <img class="batpony-image" src="{{ image_url }}" alt="Random Batpony Image">
        <p>Источник: <a href="{{ view_url }}" target="_blank">{{ view_url }}</a></p>
        <p>Теги: {{ tags }}</p>
    </content>
<footer>
    <h3>Весь контент является публичным и случайно найденным для каждого пользователя. <br /> Администрация сайта не несет ответственности за картинки.</h3>
</footer>
</body>
</html>